################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IdentityServerIntegration/v15
/.vs/config/applicationhost.config
/IdentityServerIntegration/bin/Debug/netcoreapp2.0
/.vs/IdentityServerIntegration/DesignTimeBuild
